.recommendedvideos {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}

.recommendedVideos>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}

.recommendedvideos__videos {
    display: flex;
    flex-wrap: wrap;
}

.recommendedvideos__videos>* {
    margin-left: 4%;
}

.alert-primary {
    margin-top: -30px;
    height: 60px;
}

.alert-primary>p {
    text-align: center;
    margin-top: -5px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(#000000, blue, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}