.header {
    position: fixed;
    padding: 15px;
    justify-content: space-between;
    z-index: 100;
    background-color: #64CCDA;
    height: 80px !important;
    margin-left: -10px !important;
}

.header__logo {
    margin-left: 10px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    background: -webkit-linear-gradient(#000000, blue, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-group {
    display: flex;
    align-items: center;
    width: 50%;
}

.inputsearch>input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -13px;
}

.header__right {
    display: flex;
    gap: 25px;
}

.header__right,
.notif {
    margin-top: 8px;
    color: whitesmoke;
}

.header__icon {
    margin-right: 12px;
}

.btn-danger {
    margin-right: 20px;
    margin-top: 5px;
    height: 40px;
    font-size: small;
}